{% load static %}
<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Smart Buy</title>
                                <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <style>body {
    background: linear-gradient(to right, #c04848, #480048);
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

img {
    height: auto;
    width: 140px
}</style>
                                </head>
                                <nav class="navbar navbar-light bg-light static-top">
                                    <div class="container">
                                        <a class="navbar-brand" href="#!">Smart Buy</a>
                                        <!-- <a class="btn btn-primary" href="#signup">Sign Up</a>
                                        <a class="btn btn-primary" href="#signup">Log In</a> -->
                                        <!-- <button type="button" class="btn btn-outline-primary">Sign Up</button>
                                        <button type="button" class="btn btn-outline-primary">Log In</button> -->
                                        <!-- <button class="btn btn-outline-primary mr-1" href="#">Sign up</button>
                                        <button class="btn btn-outline-primary" href="#">Login</button> -->
                                        {% if user.is_authenticated %}
                                        <!-- <form action="logout" method="GET">
                                            <button type="submit" class="btn btn-outline-primary" >Log Out</button>
                                        </form> -->
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <form action="My_Cart" method="GET">
                                             <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                             <button type="submit" class="btn btn-outline-primary" >My Cart</button>
                                             
                                            </form>
                                            <form action="logout" method="GET">
                                            <button type="submit" class="btn btn-outline-primary" >Log Out</button>
                                             </form>
                                        {% else %}
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                        <form action="register" method="GET">
                                         <button type="submit" class="btn btn-outline-primary" >Sign up</button>
                                        </form>
                                        <form action="login" method="GET">
                                        <button type="submit" class="btn btn-outline-primary" >Log In</button>
                                         </form>
                                        <!-- <button type="submit" btn btn-outline-primary mr-1" href="register">Sign up</button>
                                        <button class="btn btn-outline-primary" href="#">Log In</button> -->
                                            <!-- <button type="button" class="btn btn-secondary">Right</button> -->
                                        </div>
                                        {% endif %}
                                        <!-- <button type="button" class="btn btn-outline-warning">Log In</button>
                                        <button type="button" class="btn btn-outline-warning">Sign up</button> -->
                                    </div>
                                </nav>
                                <body oncontextmenu='return false' class='snippet-body'>
                                <div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{f_prod_id1.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{f_prod_id1.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{f_prod_id1.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/flogo.png' %}" alt="Flipkart Logo" style="width: 50px;;height: 30px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{f_prod_id1.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{f_prod_id1.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{f_prod_id1.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{f_prod_id1.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{a_prod_id1.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{a_prod_id1.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{a_prod_id1.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/alogo.png' %}" alt="Amazon Logo" style="width: 60px;;height:20px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{a_prod_id1.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{a_prod_id1.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{a_prod_id1.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{a_prod_id1.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{f_prod_id2.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{f_prod_id2.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{f_prod_id2.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/flogo.png' %}" alt="Flipkart Logo" style="width: 50px;;height: 30px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{f_prod_id2.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{f_prod_id2.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{f_prod_id2.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{f_prod_id2.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{a_prod_id2.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{a_prod_id2.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{a_prod_id2.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/alogo.png' %}" alt="Amazon Logo" style="width: 60px;;height:20px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{a_prod_id2.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{a_prod_id2.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{a_prod_id2.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{a_prod_id2.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{f_prod_id3.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{f_prod_id3.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{f_prod_id3.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/flogo.png' %}" alt="Flipkart Logo" style="width: 50px;;height: 30px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{f_prod_id3.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{f_prod_id3.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{f_prod_id3.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{f_prod_id3.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{a_prod_id3.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{a_prod_id3.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{a_prod_id3.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/alogo.png' %}" alt="Amazon Logo" style="width: 60px;;height:20px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{a_prod_id3.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{a_prod_id3.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{a_prod_id3.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{a_prod_id3.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{f_prod_id4.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{f_prod_id4.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{f_prod_id4.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/flogo.png' %}" alt="Flipkart Logo" style="width: 50px;;height: 30px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{f_prod_id4.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{f_prod_id4.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{f_prod_id4.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{f_prod_id4.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{a_prod_id4.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{a_prod_id4.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{a_prod_id4.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/alogo.png' %}" alt="Amazon Logo" style="width: 60px;;height:20px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{a_prod_id4.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{a_prod_id4.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{a_prod_id4.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{a_prod_id4.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{f_prod_id5.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{f_prod_id5.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{f_prod_id5.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/flogo.png' %}" alt="Flipkart Logo" style="width: 50px;;height: 30px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{f_prod_id5.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{f_prod_id5.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{f_prod_id5.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{f_prod_id5.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a style="text-decoration: none;color: black;" href={{a_prod_id5.link}} target="_blank">
                            <h5 class="mt-0 font-weight-bold mb-2">{{a_prod_id5.id|truncatewords:15}}</h5>
                            </a>
                            <!-- <p class="font-italic text-muted mb-0 small">128 GB ROM | 15.49 cm (6.1 inch) Display 12MP Rear Camera | 7MP Front Camera A12 Bionic Chip Processor</p> -->
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h5 class="font-weight-bold my-2" style="color: rgb(48, 146, 226);">₹ {{a_prod_id5.price}}</h5>
                                <!-- <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul> -->
                                <img src="{% static 'assets/alogo.png' %}" alt="Amazon Logo" style="width: 60px;;height:20px;" />
                                {% if user.is_authenticated %}
                                <form action="add_to_cart" method="GET">
                                    <input type="hidden" name="username" id="username" value="{{user.username}}"/>
                                    <input type="hidden" name="productid" id="productid" value="{{a_prod_id5.id}}"/>
                                    <input type="hidden" name="productlink" id="productlink" value="{{a_prod_id5.link}}"/>
                                    <input type="hidden" name="productpic" id="productpic" value="{{a_prod_id5.pic}}"/>
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                    </form>
                                {% else %}
                                <form action="register" method="GET">
                                    <button type="submit" class="btn btn-outline-primary" >Add to cart</button>
                                </form>
                                {% endif %}
                            </div>
                        </div><img src={{a_prod_id5.pic}} alt="Image_could_Not_Be_Found" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>

</div>
                                <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/javascript' src=''></script>
                                <script type='text/Javascript'></script>
                                </body>
                            </html>